.details-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.image-container {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    margin: 20px 0;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1%;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 1;
}

.prev:hover, .next:hover {
    background: rgba(0, 0, 0, 0.7);
    transform: translateY(-50%) scale(1.1);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
}

h1, h3, h4 {
    margin: 10px 0;
}

.details-container h1 {
    font-size: 2.6rem;
    margin-bottom: 10px;
}

.details-container h4 {
    font-size: 1.4rem;
}

.details-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.detail{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
